<template>
    <v-card class="mb-2">
      <v-card-title class="text-uppercase"><h3>{{title}}</h3></v-card-title>
        <v-card-text>
            <div class="d-flex flex-column justify-space-between flex-sm-row flex-wrap">
                <div v-for="(e, i) in data" :key="i"
                     class="project mb-4"
                >
                    <div class="mb-1"><h4>{{e.name}}</h4></div>
                    <div class="d-flex mb-1" v-if="e.technical_stack.length > 0 && e.technical_stack[0].name != ''">
                        <a v-for="(e2, i2) in e.technical_stack" :key="i2"
                           :href="e2.link"
                        >
                            <v-avatar size="30">
                                <v-img width="30" height="24" :src="e2.logo" :alt="e2.name"></v-img>
                            </v-avatar>
                        </a>
                    </div>
                    <div class="description" v-html="e.description"></div>
                </div>
            </div>
        </v-card-text>
    </v-card>
</template>

<script>
    export default {
        name: "Project",
        props: ['data', 'title'],
        data: function () {
            return {
                color_array: [
                    'green',
                    'cyan',
                    'indigo',
                    'blue',
                    'lime',
                    'pink light-2',
                    'purple',
                    'teal',
                ]
            }
        }
    }
</script>

<style>
.project {
    flex: 0 1 49%;
}

.description p {
  margin-bottom: 4px;
}
</style>
