<template>
    <div class="skill d-flex flex-column mt-2">
        <h2 class="text-capitalize"># {{title}}</h2>
        <div class="programming-wrapper wrapper">
            <h3 class="text-capitalize">## {{data.programming.key}}</h3>
            <div class="d-flex flex-column programming-wrapper">
                <div v-for="(category, i) in data.programming.value" :key="i"
                     class="programming-item"
                >
                    <div class="d-flex">
                        <div class="programming-item-left d-flex align-center">
                            {{category[0].category}}
                        </div>
                        <div class="flex-row programming-item-right">
                            <div v-for="(lang, i) in category" :key="i"
                                 class="d-flex programming-lang"
                            >
                                <div class="progress-label">{{lang.language}}</div>
                                <v-progress-linear :value="lang.proficiency" class="progress"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="os-wrapper wrapper">
            <h3 class="text-capitalize">## {{data.os.key}}</h3>
            <div>
                <ul>
                    <li v-for="(e, i) in data.os.value" :key="i">
                        {{stringify(e)}}
                    </li>
                </ul>
            </div>
        </div>
        <div class="software-wrapper wrapper">
            <h3 class="text-capitalize">## {{data.software.key}}</h3>
            <div>
                <ul>
                    <li v-for="(e, i) in data.software.value" :key="i">
                        {{stringify(e)}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "Skill",
        props: ['data', 'title'],
        data: function () {
            return {}
        },
        methods: {
            stringify: (item) => Array.isArray(item) ? item.join(', ') : item.toString()
        }

    }
</script>

<style scoped>
    * {
        line-height: 1;
    }

    .skill{
        padding-left: 8px;
        padding-right: 8px;
    }

    .wrapper {
        padding-left: 8px;
    }


    .programming-wrapper

        .programming-item {
            align-items: center;
            margin: 4px 0;
        }

    .programming-item-left {
        flex: 0 0 25%;
        max-width: 33%;
        min-width: 70px;
        margin-right: 4px;
    }


    .programming-item-right{
        flex: 1 1 75%;
        max-width: 75%;
        padding-right: 16px;
    }
    .programming-lang {
        align-items: center;
        margin: 4px 0;
    }

    .progress-label {
        flex: 0 0 50%;
        max-width: 50%;
        min-width: 80px;
    }

    .progress {
        flex: 0 0 50%;
        min-width: 50%;
        color: blue;
    }

    h2, h3 {
        margin: 8px 0;
    }

    li {
        margin-bottom: 8px;
    }


</style>
