<template>
  <v-app>
    <v-system-bar color="transparent" height="12px"></v-system-bar>
    <v-main>
      <nuxt/>
    </v-main>
    <v-footer app></v-footer>
  </v-app>
</template>

<script>
export default {}
</script>

<style>

</style>
