<template>
  <div class="d-flex flex-column flex-sm-row">
    <div id="right" class="panel-1 d-flex flex-column order-1 order-sm-2">
      <div id="right-container">
        <Profile
          :data="data.profile.value"
          :title="data.profile.key"
        ></Profile>
        <Skill
          :data="data.skill.value"
          :title="data.skill.key"
        ></Skill>
      </div>
    </div>
    <div id="left" class="panel-1 d-flex flex-column order-2 order-sm-1">
      <Statement
        :data="data.statement.value"
        :title="data.statement.key"
      ></Statement>
      <Knowledge
        :data="data.knowledge.value"
        :title="data.knowledge.key"
      ></Knowledge>
      <Employment
        :data="data.employment.value"
        :title="data.employment.key"
      ></Employment>
      <Education
        :data="data.education.value"
        :title="data.education.key"
      ></Education>
      <Course
        v-if="data.course.value.length > 0"
        :data="data.course.value"
        :title="data.course.key"
      ></Course>
      <Project
        :data="data.project.value"
        :title="data.project.key"
      ></Project>
    </div>
  </div>
</template>

<script>
import Profile from "../components/Profile"
import Skill from "../components/Skill"

import Statement from "../components/Statement"
import Knowledge from "../components/Knowledge"
import Employment from "../components/Employment"
import Education from "../components/Education"
import Course from "../components/Course"
import Project from "../components/Project"

import data from "../data/zh_CN"

export default {
  name: "Resume",
  components: {
    Profile,
    Skill,
    Statement,
    Knowledge,
    Employment,
    Education,
    Course,
    Project,
  },
  data: function () {
    return {
      data: data,
    };
  },

  mounted() {
    const title = document.getElementsByTagName("title")[0];
    title.text = this.data.title;
  },
};
</script>

<style>
* {
  box-sizing: border-box;
}

a {
  color: blue !important;
}

.v-card {
  box-shadow: none !important;
}

.v-card__subtitle,
.v-card__text,
.v-card__title {
  padding: 0 8px !important;
  color: black !important;
}

.v-card__title {
  padding: 4px !important;
}

body {
  max-width: 1000px;
  max-height: 1200px;
  margin: auto;
  /*padding: 1%;*/
}

#left {
  flex: 3 3 75%;
  margin-right: 12px;
}

#right {
  flex: 1 1 30%;
  background-color: #229999;
  margin-top: 4px;
  /*max-width: 30%*/
}

#right-container {
  position: sticky;
  top: 4px; /* = mt-1 */
}
</style>>
